/* BEGIN CODE HERE */
.header {
    height: 150px;
    padding: 2%;
}

.logo {
    height: 58px;
    width: 250px;
}

.form-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.form-group label {
    width: 150px;
}

.footer {
    height: 100px;
}

/* END CODE HERE */